{% extends 'users/base.html' %} 
{% load static %} 

{% block content %}
<section>
    <div class="container">
        <section class="row">
            <div class="col-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-lg">Analyze Email</button>
                </form>
            </div>
        </section>
    </div>
</section>
{% endblock %}