{% extends 'pages/base.html' %} 
{% load static %} 

{% block content %}
<section id="landing-page">
    <div class="container">
        <section class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="text-center py-4">
                    <h1 class="fw-bolder">
                        Wazza Email Phishing Tool: <br/>
                        Advanced Phishing Detection Tool
                    </h1>
                    <p>
                        This platform helps users detect phishing emails by analyzing 
                        email content using machine learning and NLP algorithms 
                        <p>All data is secured and private, with encryption ensuring your uploads are safe.</p>
                    </p>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-12 col-md-4">
                <div class="d-flex border p-4 rounded-3">
                    <i class="bi bi-envelope-arrow-up-fill"></i>
                    <div class="ps-3">
                        <h3>Email</h3>
                        <p>
                            Securely Upload your Mails
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="d-flex border p-4 rounded-3">
                    <i class="bi bi-robot"></i>
                    <div class="ps-3"> 
                        <h3>Analysis</h3>
                        <p>
                            Analyze using advance machine tool.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="d-flex border p-4 rounded-3">
                    <i class="bi bi-flag-fill"></i>
                    <div class="ps-3">
                        <h3>Report</h3>
                        <p>
                            Get a well detailed report
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="col-12 col-sm-8 col-md-6 mx-auto text-center pt-5">
                <a href="" class="btn btn-lg btn-light py-3 px-5 shadow fw-bolder">
                    Scan Now
                </a>
            </div>
        </section>
    </div>
</section>
{% endblock content %}